__pypackages__/
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/

# environment
.venv/
venv/
req_development.txt

# Git
.gitignore

# Build PYPI
ehandlers.egg-info/

# Sphinx documentation
docs/_build/

# Test env
test/
/dist/
